* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: hotpink;
    font-family: comfortaa, vazirmatn;
}

.backtotop {
    position: fixed;
    left: 5px;
    bottom: 8px;
    width: fit-content;
    padding: 2px;
    background-color: antiquewhite;
    z-index: 1;
}

.backtotop a, .backtotop a:active {
    text-align: left;
    text-decoration: none;
    color: black;
}

.welcome {
    text-align: center;
    padding-block: 2.3rem;
    color: #251605;
    padding-inline: 3rem;
    font-weight: 200;
    direction: rtl;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

#one {
    color: yellow;
    background-color: crimson;
}

#two {
    color: rgb(215, 68, 5);
    background-color: rgb(47, 255, 109);
}

#three {
    color: Teal;
    background-color: PapayaWhip;
}

#four {
    color: SpringGreen;
    background-color: OrangeRed;
}

header a:visited, header a {    
    text-decoration: none;
    padding-inline: 3vw;
    padding-block: 1vh;
    margin-inline: 5px;
    box-shadow: 6px 6px;
}


.main-container {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.main-container h1 {
    font-size: 14vw;
    font-weight: 100;
    text-align: center;
}

.main-container h2 {
    font-size: 10vw;
    font-weight: 100;
    text-align: center;
    padding-block: 80px;
}

.white {
    color: white;
}

.weight800 {
    font-weight:800;
}

img {
    border: 4px solid paleturquoise;
    width: 100%;
}
img:hover {
    filter: blur(1px);
}

.shadow {
    box-shadow: 8px 8px #00fa;
}
.shadow-lit {
    box-shadow: 4px 4px #00f8;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    align-items: start;
}

.item {
    padding-bottom: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
}

.item p{
    text-align: center;
    margin-top: 15px;
}

.caption {
    background-color: papayawhip;
    padding: 3px 10px;
}

.textbox p {
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    background-color: #a52a2a50;
    font-weight: 300;
}

.parsa .textbox p {
    background-color: #3a2aa5;
    color: #b7ffb7;
}

hr {
    width: 80%;
    height: 3px;
    border: none;
    background-color: blue;
}

#punch-line {
    padding-block: 150px;
}

.rtl {
    text-align: right;
    direction: rtl;
}

.textbox p:last-child {
    rotate: 1deg;
}

.newsbox {
    width: 80%;
}

table {
    margin: 0 auto;
    direction: rtl;
    background-color: rgb(0, 255, 81);
    box-shadow: 5px 5px azure;
    border-collapse: collapse;
}

th, td {
    text-align: right;
    padding: 8px;
}

#table-news {
    width: 80%;
}

tr:not(:last-of-type) {
    border-bottom: 2px solid #2aa53852;
    border-width: 80%;
}